{% load poll_extras %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <title>
    Ejercicio de frameworks CSS
  </title>
</head>
<body>
  <div class="container">
    <div class="col-md-12">

      <br>

      <div class="row">
        <h2>Películas encontradas con <i>{{busqueda}}</i></h2>
      </div>

      <br><br>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Título</th>
            <th>Director</th>
            <th>Año</th>
            <th>IMBD</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for p in pelis %}
          <tr>
            <td><a href={% url 'info' p|get:'_id' %}>{{ p.title }}</a></td>
            <td>{{ p.director }}</td>
            <td>{{ p.year }}</td>
            <td>{{ p.imdb.rating }}</td>
            <td>
              <a role="button" class="btn btn-success" id="view-btn" href={% url 'info' p|get:'_id' %}>Ver</a>
              <a role="button" class="btn btn-primary" id="edit-btn" href={% url 'edit' p|get:'_id' %}>Editar</a>
              <a role="button" class="btn btn-secondary" id="delete-btn" >Borrar</a>
            </td>
          </tr>
          {% endfor %}
        </table>
        
      </div>
    </div>
  </body>
  </html>
