<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <title>
    Editar película
  </title>
</head>
<body>
  <div class="container">
    <div class="col-md-12">

      <br>

      <div class="row">
        <h2>Editar película</h2>
      </div>

      <br><hr><br>

      <form action="edit" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit" id="update">Actualizar</button>
        </div>

      </form>

    </div>
  </div>

  <script>
  $( document ).ready(function()
  {
    // Add form-control class
    var all_tags = ["input", "textarea"];

    for (var i=0, max=all_tags.length; i < max; i++)
    {
      var all = document.getElementsByTagName(all_tags[i]);

      for (var j=0, max=all.length; j < max; j++)
      {
        all[j].classList.add("form-control");
      }
    }

    // Make label text bold
    var all = document.getElementsByTagName("label");

    for (var j=0, max=all.length; j < max; j++)
    {
      all[j].style.fontWeight = 'bold';
    }
  });
  </script>
</body>
</html>
